
<ion-view view-title="Virgina Beach">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Reasoning</div>
      <div class="item item-body">
        <div>
         Because who doesn't love a <b>Bear?</b> This is good to fly us there or just you there, you choose!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Included</div>
      <div class="item item-body">
        <div>
  <ion-checkbox ng-model="isChecked" ng-checked="true">Dining</ion-checkbox>
  <ion-checkbox ng-model="isChecked" ng-checked="true">Beach Activities</ion-checkbox>
  <ion-checkbox ng-model="isChecked" ng-checked="true">New Swimsuit</ion-checkbox>
  <ion-checkbox ng-model="isChecked" ng-checked="true">New Beach Towel</ion-checkbox>
  <ion-checkbox ng-model="isChecked" ng-checked="true">New Sunglasses</ion-checkbox>
  <ion-checkbox ng-model="isChecked" ng-checked="true">Hotel + Airfair</ion-checkbox>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Ideas</div>
      <div class="item item-body">
        <div>
        We could visit during the winter, or her birthday!
        <p></p>
                 <img ng-src="../img/bear.jpg"  class="fullscreen-image"/>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
