<ion-view view-title="Front-row, Mat Kearney or Matt Nathanson">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Reasoning</div>
      <div class="item item-body">
        <div>
          I know how much you love <b>Mat(t).</b> This is a chance to follow him to a new city and sit up close and personal.
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Included</div>
      <div class="item item-body">
        <div>
  <ion-checkbox ng-model="isChecked" ng-checked="true">Dinner</ion-checkbox>
  <ion-checkbox ng-model="isChecked" ng-checked="true">Concert Ticket</ion-checkbox>
  <ion-checkbox ng-model="isChecked" ng-checked="true">Concert Shirt</ion-checkbox>
  <ion-checkbox ng-model="isChecked" ng-checked="true">Hotel + Airfair as needed</ion-checkbox>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Ideas</div>
      <div class="item item-body">
        <div>
        I was going to list upcoming concerts then realized you probably have them memorized...
            <p></p>
                 <img ng-src="../img/concert.jpg"  class="fullscreen-image"/>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
