<ion-view view-title="Maya, Mexico">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Reasoning</div>
      <div class="item item-body">
        <div>
          We haven't traveled outside of the  <b>continental US.</b> This is our chance to stay an <b> all inclusive resort!</b> 
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Included</div>
      <div class="item item-body">
        <div>

  <ion-checkbox ng-model="isChecked" ng-checked="true">Airfair</ion-checkbox>
  <ion-checkbox ng-model="isChecked" ng-checked="true">All-Inclusive Resort</ion-checkbox>
  <ion-checkbox ng-model="isChecked" ng-checked="true">Taxis to + from the airport</ion-checkbox>

        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Ideas</div>
      <div class="item item-body">
        <div>
          We would stay at the Hotel Marina El Cid Spa & Beach Resort: a four-star hotel and 2014 TripAdvisor Travelers’ Choice winner.
              <p></p>
        <img ng-src="../img/mexico.jpg"  class="fullscreen-image"/>
         <img ng-src="../img/mexico2.jpg"  class="fullscreen-image"/>
          <img ng-src="../img/mexico3.jpg"  class="fullscreen-image"/>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
