<ion-view view-title="Caribbean 4/5-Night Cruise">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Reasoning</div>
      <div class="item item-body">
        <div>
          Cruises are awesome, <b>and the food on them is even more awesome.</b>  Celebrity Cruises are the Cadillac of cruise lines. I'm pretty sure Cadillac actually makes the boats...
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Included</div>
      <div class="item item-body">
        <div>

  <ion-checkbox ng-model="isChecked" ng-checked="true">Airfair</ion-checkbox>
  <ion-checkbox ng-model="isChecked" ng-checked="true">Celebrity Cruise Ticket</ion-checkbox>
  <ion-checkbox ng-model="isChecked" ng-checked="true">Taxis to + from the Airport</ion-checkbox>

        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Ideas</div>
      <div class="item item-body">
        <div>
          "Believing that the dining experience is an essential part of a quality cruise vacation, Celebrity custom-built galleys to create the <b>finest gourmet cuisine at sea</b>, preparing everything from scratch, using only the finest, freshest ingredients." - 'nough said.
              <p></p>
        <img ng-src="../img/cruise0.jpg"  class="fullscreen-image"/>
        <img ng-src="../img/cruise.jpg"  class="fullscreen-image"/>
         <img ng-src="../img/cruise1.jpg"  class="fullscreen-image"/>
          <img ng-src="../img/cruise2.jpg"  class="fullscreen-image"/>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
